#bord {
    width:100%;
    height:auto;
    position:relative;
}

#bord .topic {
    background-color:#f8f8f7; 
    margin-top:25px;
    height:auto;
    border: 1px solid #E37A6E;
    font-weight:100;
}

.topic h2 {
    font-size:30px;
    padding:10px;
    background:#D44732;
}

.topic h3 {
    padding: 5px 5px 5px 10px;
    font-size:13px;
    border-bottom:1px #fff solid;
    font-weight: 100;
    font-family: arial;
    background:#D44732;
}

.topic h3.klein {
    background:#E37A6E;
    font-family: arial;
    font-size:10px;
}

.topic .onderwerp {
    padding:1em;
    font-family:arial;
    font-weight: bold;
}

.topic .onderwerp ul li {
    padding:0.8em;
}

.topic .onderwerp a.verder {
    font-weight: bold;
    text-align: right; 
    display: block;
    text-decoration: underline;
    
}

span.gebruiker {
    font-weight: bold;
    color:#fff;
    font-size:12px;
}
span.nummer {
    float:right;
    font-size:1.2em;
    font-weight: bold;
    color:#fff;
}

button {
    border-radius:5px;
    padding:3px;
    font-size:0.7em;
    border:1px solid #ddd;
}

.topic ul.reacties {
    background-color: rgba(184, 138, 138, 0.4); 
    height:auto;
    width:auto;
    padding:10px;
    font-size: 1.3em;
}

.topic ul.reacties li {
    border:white 1px solid;
    margin:10px;
    min-height: 150px;
}

.topic ul.reacties li.dnkr {
    background-color: rgba(184, 138, 138, 0.6); 
}

.topic ul.reacties li.dnkr p.react {
    color:#3f3a3a;
}

.topic ul.reacties li.r {
    border:none;
    min-height:0px;
}

.topic ul.reacties li p.react {
    padding:10px;
    font-size: 15px;
    color:#504949;
    margin-left:100px;
}

.topic ul.reacties li#vlak {
    border:none;
    overflow:hidden;
    min-height:72px;
}

.topic ul.reacties li img {
    padding:10px;
    border-right:solid #fff 1px;
    margin-top:10px;
    float:left;
}

        @media all and (max-width: 635px) {
            .topic .onderwerp {
                padding:0.3em;
                font-family:arial;
                font-weight: bold;
            }
            
            .topic ul.reacties li {
                border:white 1px solid;
                border-bottom:none;
                margin:0px;
                min-height: 150px;
            }
            
            .topic ul.reacties li:last-child {
                border-bottom:1px solid #fff;
            }

        }

/*------- topic lijst  ---------*/

ul#lijst {
    
}

ul#lijst:first-child {
    background:#fff;
}

ul#lijst li {
    border:solid #000 1px;
    margin:4px;
    background:grey;
    padding:10px;
}


ul#lijst li span {
    border-right:solid #000 1px;
    padding:0px 10px 0px 0px;
}

/*------- lijst topics + aanmaken  ---------*/

#btns {
    position:absolute;
    margin-top:365px;
    width:126px;
    background:none;
    margin-left:900px;
    z-index:99999;
}

#btns>button {
    border-radius:5px;
    padding:10px;
    font-size:0.7em;
    background:#D44732;
    color:white;
    float:left;
    font-size:13px;
    font-weight: bold;
    margin-top:5px;
}

#btns>button:first-child {
    width:125px;
}




